.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 48px;
  width: 85%;
}

.user-container {
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  padding: 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .user-container {
    text-align: left;
  }
}

.user {
  color: #475569;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
}

.welcome-note {
  color: #475569;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
}

.app-name {
  color: #0b69ff;
}
@media screen and (min-width: 768px) {
  .content-container {
    width: 80%;
  }
}

.money-details-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
