.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.delete-btn {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.delete-img {
  widows: 40px;
  height: 40px;
}
